.info {
    background-color: #393D5E;
    color: white;
    font-weight: bolder;
    display: flex;
    font-size: small;
    flex-direction: column;
    align-items: center;
}
.info img{
    height: 150px;

}
